<section id="home">
    <nav class="navbar navbar-dark fixed-top">
        <button class="btn btn-success" routerLink="/auth" *ngIf="!auth.loggedIn"><i class="fa fa-sign-in"></i> Auth
        </button>
        <button class="btn btn-info" routerLink="/panel" *ngIf="auth.loggedIn"><i class="fa fa-sign-in"></i> Panel
        </button>
    </nav>
    <div id="cover-caption">
        <div class="container">
            <div class="justify-content-md-center">
                <div class="col-md-auto" id="cover-content">
                    <h1 class="display-3">Hello?</h1>
                    <p>You are visited XaFF</p>
                </div>
            </div>
        </div>
    </div>
</section>
