p {
  width: 320px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-transform: UPPERCASE;
  font-size: 2rem;
}

div {
  width: 500px;
  text-align: center;
  margin: 30px auto 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #0072ca;
}

a:visited {
  color: #0072ca;
}

a:active {
  color: #0072ca;
}

a:hover {
  color: #0085ec;
}
