#home {
  background: #222 url('/assets/img/cover.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#aLogin {
  border-radius: 3%;
  padding: 3%;
  margin: auto;
  background-color: rgba(255, 255, 255, .9);
}
