<div id="formWrapper" class="container">
    <div class="row">
        <div class="col-lg-8 m-lg-auto">
            <form id="addUserForm" [formGroup]="addUserForm" (ngSubmit)="addUserComplete()">
                <div class="form-group" [ngClass]="setClassEmail()">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="email" name="email" formControlName="email"
                               placeholder="Email">
                    </div>
                </div>
                <div class="form-group" [ngClass]="setClassUsername()">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" type="text" name="Username" formControlName="username"
                               placeholder="Username">
                    </div>
                </div>
                <div class="form-group" [ngClass]="setClassGroups()">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-group"></i></span>
                        <input class="form-control" type="text" name="Groups" formControlName="groups"
                               placeholder="Groups">
                    </div>
                </div>
                <div class="from-group">
                    <div class="input-group" [ngClass]="setClassPassword()">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input class="form-control" type="password" name="password" formControlName="password"
                               placeholder="Password">
                    </div>
                </div>
                <br>
                <div class="text-right">
                    <button class="btn btn-danger" type="button" routerLink="/panel/users"><i class="fa fa-remove"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success" type="submit" [disabled]="!addUserForm.valid"><i
                            class="fa fa-plus"></i> Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
